#content {
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
  color: snow;
}

.title{
    color:#FFD100;
    font-size: 40px;
    
}

#greeting-container {
  margin-top: 20px;
}
.row {
    display: flex;
    display: padding;
}
.column{
    display: block;
    font-size:0;
    flex: 15%;
    padding: 5px;

}
